.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 25px;
  padding: 30px;
}

/* CONTENIDO PRINCIPAL */
.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* SECCIÓN PRINCIPAL */
.section1 {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  transition: 0.3s;
}

.section1:hover {
  transform: scale(1.03);
}

/* SEGUNDA SECCIÓN */
.section2 {
  background: linear-gradient(135deg, #f7971e, #ffd200);
  padding: 30px;
  border-radius: 20px;
  color: black;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}