.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: linear-gradient(90deg, #ff416c, #ff4b2b);
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}

.navbar h2 {
  font-size: 22px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: bold;
  position: relative;
  transition: 0.3s;
}

/* Línea animada */
.navbar a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: white;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.navbar a:hover::after {
  width: 100%;
}

.navbar a:hover {
  transform: scale(1.1);
}