* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;

  background: linear-gradient(135deg, #667eea, #764ba2);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* CONTENEDOR */
.navbar-container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

/* LINKS */
.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  position: relative;
  transition: 0.3s;
}

/* EFECTO SUBRAYADO ANIMADO */
.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background: #fff;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* HOVER TEXTO */
.nav-links a:hover {
  opacity: 0.8;
}

/* EFECTO MOVIMIENTO */
.nav-links li:hover {
  transform: translateY(-2px);
}